.products{
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
/* ================== Responsive Category Page ================== */

/* @media (max-width: 768px) {
  .products {
    padding: 30px 0;
    justify-content: center;
    gap: 15px;
  }

 
  .products .product {
    width: calc(50% - 10px);
    max-width: 180px;
  }
}

@media (max-width: 400px) {
  .products {
    padding: 20px 0;
    gap: 10px;
  }

  .products .product {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .products {
    gap: 15px;
  }

  .products .product {
    width: calc(33.33% - 15px);
  }
} */